<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
    <!-- Enable features -->
    <featureManager>
         <feature>microProfile-1.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="80"
                  httpsPort="443" />

    <webApplication name="java-helloworld"
        location="JavaHelloWorldApp.war"
        contextRoot="/" />
  	<webContainer deferServletLoad="false"/>
</server>
